<table class="table table-bordered border-primary table-striped table-hover mt-3">
  <thead class="table-primary">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Email</th>
      <th scope="col">Data inizio</th>
      <th scope="col">Data fine</th>
      <th scope="col">Dipendenti</th>
      <th scope="col">Commesse</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of responsabili">
      <th scope="row">{{ r.id }}</th>
      <td>{{ r.nom }}</td>
      <td>{{ r.cog }}</td>
      <td>{{ r.email }}</td>
      <td>{{ r.datIni }}</td>
      <td>{{ r.datFin }}</td>
      <td>{{ r.dipRIF?.length }}</td>
      <td>{{ r.comRIF?.length }}</td>
    </tr>
  </tbody>
</table>
