<table class="table table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Email</th>
      <th scope="col">Responsabile</th>
      <th scope="col">Contratto</th>
      <th scope="col">Commessa</th>
      <th scope="col">Timesheet</th>
    </tr>
  </thead>
  <tbody>
      <tr>
      <th scope="row">1</th>
      <td>Valeria</td>
      <td>Verdi</td>
      <td>valver@exp.com</td>
      <td>Simone Rossi</td>
      <td>Full time</td>
      <td>Progetto 1</td>
      <td>40h-01/02/2026</td>
    </tr>
  </tbody>
</table>