<table class="table table-bordered border-primary table-striped table-hover mt-3">
  <thead class="table-primary">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Email</th>
      <th scope="col">Responsabili</th>
      <th scope="col">Contratti</th>
      <th scope="col">Commesse</th>
      <th scope="col">Timesheet</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of dipendenti">
      <th scope="row">{{ d.id }}</th>
      <td>{{ d.nome }}</td>
      <td>{{ d.cognome }}</td>
      <td>{{ d.email }}</td>
      <td>{{ d.respRIF?.length }}</td>
      <td>{{ d.contrRIF?.length }}</td>
      <td>{{ d.comRIF?.length }}</td>
      <td>{{ d.timRIF?.length }}</td>
    </tr>
  </tbody>
</table>
