<table class="table table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Ore Lavorate</th>
      <th scope="col">Data</th>
      <th scope="col">Tipologia</th>
      <th scope="col">Dipendente</th>
      <th scope="col">Commessa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <th scope="row">1</th>
  <td>8</td>
  <td>01-02-2026</td>
  <td>Ordinario</td>
  <td>Valeria Verdi</td>
  <td>realizazzione app spring boot</td>
  
</tr>

  </tbody>
</table>