<table class="table table-bordered border-primary table-striped table-hover mt-3">
   <thead class="table-primary">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Ore Lavorate</th>
      <th scope="col">Data</th>
      <th scope="col">Tipologia</th>
      <th scope="col">Dipendente</th>
      <th scope="col">Commessa</th>
    </tr>
  </thead>
  <tbody>
   <tr *ngFor="let t of timesheets">
      <th scope="row">{{ t.id }}</th>
      <td>{{ t.oreLav }}</td>
      <td>{{ t.dat }}</td>
      <td>{{ t.tip }}</td>
      <td>{{ t.dipRIF}}</td> <!-- ho tolto il ? perchè mi dava degli errori sul cmd-->
      <td>{{ t.comRIF}}</td>
    </tr>

  </tbody>
</table>