<table class="table table-bordered border-primary table-striped table-hover mt-3">
  <thead class="table-primary">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Tipo</th>
      <th scope="col">Data inizio</th>
      <th scope="col">Data fine</th>
      <th scope="col">Dipendenti</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of contratti">
      <th scope="row">{{ c.id }}</th>
      <td>{{ c.tipo }}</td>
      <td>{{ c.datInizio }}</td>
      <td>{{ c.datFine }}</td>
      <td>{{ c.dipRIF }}</td>
    </tr>
  </tbody>
</table>
