<table class="table table-bordered border-primary table-striped table-hover mt-3">
  <thead class="table-primary">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Titolo</th>
      <th scope="col">Descrizione</th>
      <th scope="col">Data inizio</th>
      <th scope="col">Data fine</th>
      <th scope="col">Importo</th>
      <th scope="col">Dipendenti</th>
      <th scope="col">Responsabili</th>
      <th scope="col">Timesheet</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of commesse">
      <th scope="row">{{ c.id }}</th>
      <td>{{ c.tit }}</td>
      <td>{{ c.des }}</td>
      <td>{{ c.datIni }}</td>
      <td>{{ c.datFin }}</td>
      <td>{{ c.imp }}</td>
      <td>{{ c.dipRIF }}</td>
      <td>{{ c.respRIF }}</td>
      <td>{{ c.timRIF }}</td>
    </tr>
  </tbody>
</table>
