<table class="table table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Titolo</th>
      <th scope="col">Descrizione</th>
      <th scope="col">Data Inizio</th>
      <th scope="col">Data Fine</th>
      <th scope="col">Importo</th>
      <th scope="col">Dipendente</th>
      <th scope="col">Responsabile</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <th scope="row">1</th>
  <td>Progetto 1</td>
  <td>Realizzazione app spring boot</td>
  <td>01/02/2025</td>
  <td>30/06/2025</td>
  <td>45.000 €</td>
  <td>Valeria Verdi</td>
  <td>Simone Rossi</td>
</tr>

  </tbody>
</table>